@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Tourney', cursive;
  color: #333;
}

.pokemon-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

